.App {
  text-align: center;
  margin-left: 350px;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(184, 196, 207)!important;
}

h2 {
  margin-top: 20px;
}
